@using EntityLayer.Concrete
@model List<Category>
@{
    ViewData["Title"] = "Index";
}
<table class=" table table-bordered">
    <tr>
        <td>ID</td>
        <td>Kategori Adı</td>
        <td>Durumu</td>
        <td>Detaylar</td>
        <td>Sil</td>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryStatus</td>
            <td><a href="#" class="btn btn-warning">Detaylar</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>

