
    <div class="tech-btm">
							
							<p>Daha fazlası için...</p>
							<form action="/NewsLetter/SubscribeMail" method="post">
								<input type="email" placeholder="E-posta" required=""  name="Mail">
								<input type="submit" value="Kaydol">
							</form>

	</div>

